html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}
body{
	overflow-y:hidden;
	overflow-x:hidden;
	background-color:#C0C0C0;
}
body > h1 {
  font-size: 2em;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;
  color:white;
}
#start > h1 {
    font-size:85px;
	display:block;
	position:absolute;
	top:10%;
	left:30%;
	color:#000;
}
#start >h1:hover #start{
	display:none;
}
h1:hover{

	color: #000;
	text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
}
#mode > h1 {
    font-size:85px;
	display:block;
	position:absolute;
	top:10%;
	left:60%;
	color:#000;
}
#mode >h1:hover #start{
	display:none;
}
#easy{
	
	font-size:43px;
	display: none;
	position:absolute;
	top:10%;
	left:10%;
	color:#000;
}
#normal{

	font-size:43px;
	display: none;
	position: absolute;
	top: 10%;
	left: 31%;
	color: #000;
}
#hard{
	
	font-size:43px;
	display: none;
	position:absolute;
	top:10%;
	left:58%;
	color:#000;
}
#extra{
	
	font-size:43px;
	display: none;
	position:absolute;
	top:10%;
	left:78%;
	color:#000;
}
#time{
	font-weight:bold;
	font-family:"Microsoft JhengHei";
	font-size:60px;
	display:block;
	position:absolute;
	top:0%;
	left:45%;
	color:#000;	
}
#restart{
	font-size:40px;
	display:none;
	position:absolute;
	top:10%;
	left:41%;
	color:#000;	
}
